.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.top-main-container {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.bottom-container {
    display: flex;
    height: auto;
    background-color: beige;
}

.top-stories-container {
    display: grid;
    height: auto;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.all-articles {
    width: 15vw;
}

@media screen and (max-width: 1250px){
    .top-stories-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        min-width: none;
    }
}

@media screen and (max-width: 800px){
    .top-stories-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        min-width: none;
    }
}

