.app {
  height: 100vh;
  overflow-y: auto;
}
h1 {
  font-size: xxx-large;
}
.top-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 20vh;
}

.bottom-container {
  display: flex;
  border: 1px solid black;
  border-radius: 1.5em;
  height: 60vh;
  padding: 2em;
}